
*{
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  min-height: 100vh;
  padding: 30px 0;
  background-color: #f8f9fa;
}

.container{
  margin: auto;
  padding: 30px;
  max-width: 1000px;
  background-color: white;
}

.container h1{
  text-align: center;
  margin-bottom: 20px;
}

li{
  list-style: none;
  margin: 20px 0;
}

li > label{
  display: inline-block;
  margin-bottom: 10px;
}

#name, #born, #religion, #message{
  width: 100%;
  height: 2rem;
  padding: 0 10px;
}

#message{
  height: 8rem;
  padding: 5px 10px;
  color: black;
}

.option label{
  margin-right: 20px;
}

button{
  padding: 8px 10px;
  background-color: #0d6efd;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.table{
  margin-top: 50px;
  width: 100%;
}

.table th{
  border-bottom: 3px solid black;
}
.table td{
  border-bottom: 1px solid gray;
}

.const{
  font-weight: bold;
}